{% extends 'base.html.twig' %}

{% block body %}
  <div>
    <p>
      <a href="{{ path('login') }}">Iniciar sesión</a>
    </p>
    <p>
      <a href="{{ path('user_registration') }}">Registrar</a>
    </p>
  </div>
{% endblock %}